<!-- <div nz-row [nzGutter]="[0, 32]">
    <div nz-col nzSpan="24">
        <form nz-form [formGroup]="editForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzFor="titleBm" nzRequired>Nama (BM)</nz-form-label>
                <nz-form-control [nzSpan]="9" nzErrorTip="Ini adalah bahagian wajib.">
                  <input nz-input formControlName="titleBm" maxlength="200" type="text" />
                </nz-form-control>
                <nz-form-label [nzSpan]="3" nzFor="titleEn" nzRequired>Nama (EN)</nz-form-label>
                <nz-form-control [nzSpan]="9" nzErrorTip="Ini adalah bahagian wajib.">
                  <input nz-input formControlName="titleEn" maxlength="200" type="text" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzFor="descriptionBm" nzRequired>Penerangan (BM)</nz-form-label>
                <nz-form-control [nzSpan]="9" nzErrorTip="Ini adalah bahagian wajib.">
                  <textarea nz-input formControlName="descriptionBm" maxlength="500" rows="5"></textarea>
                </nz-form-control>
                <nz-form-label [nzSpan]="3" nzFor="descriptionEn" nzRequired>Penerangan (EN)</nz-form-label>
                <nz-form-control [nzSpan]="9" nzErrorTip="Ini adalah bahagian wajib.">
                  <textarea nz-input formControlName="descriptionEn" maxlength="500" rows="5"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancel()" [disabled]="isBusy">Batal</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="isBusy">Simpan</button>
</div> -->


<form>
    <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{mode}} user
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="row form-group" >
            <div class ="col-sm-5 ">
              <mat-form-field>
                <input matInput placeholder="FirstName" />
              </mat-form-field>
            </div>

            <div class ="col-sm-5">
              <mat-form-field>
                <input matInput placeholder="Last Name" />
              </mat-form-field>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-6">
              <mat-form-field>
                <textarea matInput placeholder="Address"></textarea>
              </mat-form-field>
            </div>

          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button>asd</button>
        </mat-card-actions>
    </mat-card>
</form>