table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .demo-table {
    width: 100%;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Center vertically */
  }

  .action-buttons button {
    margin-right: 8px; /* Adjust the margin as needed */
  }