
<div style="padding: 30px; background: black;">
  <div calss="row col-12">
    <mat-form-field style="width: 100%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
  
  
    </mat-form-field>
  </div>
  <button style="float: right;" mat-raised-button color="primary" (click)="openAddDialog()">Add new</button>


  <!-- <button style="align-items: end; justify-items: end;" class="btn btn-primary" mat-raised-button (click)="openAddDialog()">Add new</button> -->
<!-- 
  <div style="margin-top: 50px; ">
    <div nz-row  nzJustify="end">
      <button style="margin-top: 3rem; margin-bottom: 1rem;" nz-button nzType="primary"
        (click)="openAddDialog()">
        Tambah Baru
      </button>
    </div>
  </div> -->

  <div class="mat-elevation-z8" style="padding-top: 60px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>


